---
---

@import "{{ site.theme }}";

header .project-tagline,
header .btn {
  display:  none;
}

header.page-header {
  padding:  2rem 5rem;
  /*background-image: url('{{ site.baseurl }}/assets/images/aahs_building.jpg');*/
  padding: 0;
}

header.page-header img {
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav.navbar li.nav-item.active .nav-link,
nav.navbar-dark .navbar-nav .nav-link.active, 
nav.navbar-dark .navbar-nav .show > .nav-link {
  color: orange;
}

nav.navbar #main_nav.navbar-collapse {
  flex-grow: 0;
}

nav.navbar > .container, 
nav.navbar > .container-fluid, 
nav.navbar > .container-lg, .navbar > 
nav.container-md, 
nav.navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  margin: 0 5%;
}

nav.navbar > div.container-fluid {
  width:  90%;
  margin:  0 auto;
} 

.navbar-expand-lg .navbar-nav li:last-child .dropdown-menu {
  left:  unset;
  right: 0;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {

  .dropdown-menu li{
    position: relative;
  }
  .dropdown-menu .submenu{ 
    display: none;
    position: absolute;
    left:100%; top:-7px;
  }
  .dropdown-menu .submenu-left{ 
    right:100%; left:auto;
  }

  .dropdown-menu > li:hover{ background-color: #f1f1f1 }
  .dropdown-menu > li:hover > .submenu{
    display: block;
  }
/*
  nav.navbar > .container, 
  nav.navbar > .container-fluid, 
  nav.navbar > .container-lg, .navbar > 
  nav.container-md, 
  nav.navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
      margin: 0;
  }*/

} 

/*main#content a {
  color: #1e6bb8;
  text-decoration: none;
}*/

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {

  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; 
      margin-right:0.7rem; 
      margin-bottom: .5rem;
  }

  nav.navbar > div.container-fluid {
    width:  100%;
  }

  header.page-header {
    display: none;
  }

  html {
    margin: 0 !important;
  }

  .navbar { 
    border-radius: 0 !important;
  }

  .main-content {
    padding: 2% !important;
  }

} 
/* ============ small devices .end// ============ */

html {
  margin-left: 20px;
  margin-right: 20px; 
  margin-top: 20px;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background: rgb(242, 227, 188);
}

.main-content {
  max-width: unset; 
  background: white;
}

.navbar { 
  border-radius: 15px 15px 0 0;
  background: #3f260f !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

header.page-header {
  position: relative;
}

header .project-tagline {
  display:  block;
  margin: 0;
}

header a.btn {
  display: none;
}

header h1.project-name {
  font-size: 2em;
  margin: 0;
  font-style: italic;
}

header div.title-lines {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

header div.address-lines {
  position: absolute;
  top: 10px;
  right: 10px;
}

header div.address-lines ol {
  list-style-type: none;
  text-align: right;
  font-style: italic;
  font-size: 11px;
  line-height: 13px;
}

header h2 {
  font-style: italic;
  margin: 0;
}

.page-header {
 background-color: unset;
 background-image: unset;
}

body.twocolumn #page {
  display: flex;
} 

body.twocolumn #sideBar {
  width: 20%;
  padding: 10px;
  background: #eee;
}

body.twocolumn #theContent {
  width: 80%;
  min-height: 300px;
  padding: 10px; 
}

body.twocolumn #content {
  flex: 1 0 auto;
  /* enable grow, disable shrink */
}

body.twocolumn main#content {
  padding: 20px;
  max-width: unset;
}